#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}







.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
li{
  width: 15rem;
  height: 3rem;
  margin: 5px;
  font-weight: 200;
  letter-spacing: 1px;
}
button:hover{
  background-color: #888;
  transition: 0.28s;
}